## Loading and Cleaning dataset

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('C:/Users/tanvi/Downloads/covid_19_data.csv', low_memory=False)
#set low_memory=False

In [3]:
data.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281487 entries, 0 to 281486
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              281487 non-null  int64
 1   ObservationDate  281487 non-null  object
 2   Province/State   209353 non-null  object
 3   Country/Region   281487 non-null  object
 4   Last Update      281487 non-null  object
 5   Confirmed        281487 non-null  float64
 6   Deaths           281487 non-null  float64
 7   Recovered        281487 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 17.2+ MB

In [5]:
data.isnull().sum()[data.isnull().sum()>0]

Province/State    72134
dtype: int64

In [6]:
data = data.drop(columns=['Province/State','SNo','Last Update'])

In [7]:
data.head()

  ObservationDate  Country/Region  Confirmed  Deaths  Recovered
0      01/22/2020  Mainland China        1.0     0.0        0.0
1      01/22/2020  Mainland China       14.0     0.0        0.0
2      01/22/2020  Mainland China        6.0     0.0        0.0
3      01/22/2020  Mainland China        1.0     0.0        0.0
4      01/22/2020  Mainland China        0.0     0.0        0.0

In [8]:
data.isnull().values.any()

False

In [9]:
data.rename(columns={'Country/Region': 'Country','ObservationDate' : 'Date'}, inplace=True)

In [10]:
name = ["('St. Martin',)", 'Bahamas, The', 'The Bahamas', 'Congo (Brazzaville)', 'The Gambia', 'Gambia, The',
       'Cabo Verde','Mainland China', 'UK','Ireland', 'US', 'Burma']
replace=['St. Martin', 'Bahamas', 'Bahamas', 'Republic of the Congo', 'Gambia', 'Gambia', 'Cape Verde', 
         'China', 'United Kingdom', 'Republic of Ireland', 'United States','Myanmar']

In [11]:
data.replace(to_replace=name, value=replace, inplace=True)

In [12]:
data

              Date      Country  Confirmed  Deaths  Recovered
0       01/22/2020        China        1.0     0.0        0.0
1       01/22/2020        China       14.0     0.0        0.0
2       01/22/2020        China        6.0     0.0        0.0
3       01/22/2020        China        1.0     0.0        0.0
4       01/22/2020        China        0.0     0.0        0.0
...            ...          ...        ...     ...        ...
281482  04/27/2021      Ukraine    94375.0  1854.0    75409.0
281483  04/27/2021  Netherlands    25243.0   233.0        0.0
281484  04/27/2021        China     1332.0     1.0     1320.0
281485  04/27/2021      Ukraine    83314.0  1565.0    65414.0
281486  04/27/2021  Netherlands   350731.0  4119.0        0.0

[281487 rows x 5 columns]

In [14]:
data['Date'] = pd.to_datetime(data['Date'])

In [15]:
data = data.groupby(['Date', 'Country'])['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()

<ipython-input-15-6a14cc82afcd>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data = data.groupby(['Date', 'Country'])['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()

In [16]:
data

            Date             Country  Confirmed  Deaths  Recovered
0     2020-01-22               China      547.0    17.0       28.0
1     2020-01-22           Hong Kong        0.0     0.0        0.0
2     2020-01-22               Japan        2.0     0.0        0.0
3     2020-01-22               Macau        1.0     0.0        0.0
4     2020-01-22         South Korea        1.0     0.0        0.0
...          ...                 ...        ...     ...        ...
80511 2021-04-27             Vietnam     2857.0    35.0     2516.0
80512 2021-04-27  West Bank and Gaza   293466.0  3201.0   267346.0
80513 2021-04-27               Yemen     6220.0  1207.0     2674.0
80514 2021-04-27              Zambia    91418.0  1249.0    89717.0
80515 2021-04-27            Zimbabwe    38164.0  1565.0    35480.0

[80516 rows x 5 columns]

## Save Dataset Countrywise

In [17]:
IND_dataset = data.loc[data['Country'] == 'India' ]

In [18]:
writer = pd.ExcelWriter('IND_dataset.xlsx', engine='openpyxl', date_format='dd mmmm yyyy')
#writer = pd.ExcelWriter(a, engine='xlsxwriter', date_format='dd mmmm yyyy')
IND_dataset.to_excel(writer, sheet_name='Article Consumption Supplier Fo', index=False)
writer.save()

In [19]:
FR_dataset = data.loc[data['Country'] == 'France' ]

In [20]:
writer = pd.ExcelWriter('FR_dataset.xlsx', engine='openpyxl', date_format='dd mmmm yyyy')
#writer = pd.ExcelWriter(a, engine='xlsxwriter', date_format='dd mmmm yyyy')
FR_dataset.to_excel(writer, sheet_name='Article Consumption Supplier Fo', index=False)
writer.save()

In [16]:
US_dataset = data.loc[data['Country'] == 'United States' ]

In [17]:
US_dataset.head()

         Date        Country  Confirmed  Deaths  Recovered
7  2020-01-22  United States        1.0     0.0        0.0
22 2020-01-23  United States        1.0     0.0        0.0
33 2020-01-24  United States        2.0     0.0        0.0
47 2020-01-25  United States        2.0     0.0        0.0
62 2020-01-26  United States        5.0     0.0        0.0

In [18]:
writer = pd.ExcelWriter('US_dataset.xlsx', engine='openpyxl', date_format='dd mmmm yyyy')
#writer = pd.ExcelWriter(a, engine='xlsxwriter', date_format='dd mmmm yyyy')
US_dataset.to_excel(writer, sheet_name='Article Consumption Supplier Fo', index=False)
writer.save()

In [19]:
UK_dataset = data.loc[data['Country'] == 'United Kingdom' ]

In [20]:
writer = pd.ExcelWriter('UK_dataset.xlsx', engine='openpyxl', date_format='dd mmmm yyyy')
#writer = pd.ExcelWriter(a, engine='xlsxwriter', date_format='dd mmmm yyyy')
UK_dataset.to_excel(writer, sheet_name='Article Consumption Supplier Fo', index=False)
writer.save()

In [21]:
Brazil_dataset = data.loc[data['Country'] == 'Brazil' ]

In [22]:
writer = pd.ExcelWriter('Brazil_dataset.xlsx', engine='openpyxl', date_format='dd mmmm yyyy')
#writer = pd.ExcelWriter(a, engine='xlsxwriter', date_format='dd mmmm yyyy')
Brazil_dataset.to_excel(writer, sheet_name='Article Consumption Supplier Fo', index=False)
writer.save()